<% if(typeof latestComments != 'undefined') { %>
    <% latestComments.forEach(comment => { %>
    <% let commentDate = new Date(comment.date); %>

<div class="popular-news-widget mb-30">
    <h3>4 Most Popular News</h3>

    <!-- Single Popular Blog -->
    <div class="single-popular-post">
        <a href="#">
            <h6><span>1.</span> Rasmus</h6>
        </a>
        <p></p>
    </div>

    <% })%>
    <% }%>

    